/* Estilos básicos da aplicação - configurações padrão */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* A cor de fundo e outros elementos visuais são definidos no App.css */
}

/* Desativando elementos visuais redundantes - usamos os do App.css */
body::before, body::after {
  display: none;
}

/* Estilos para elementos de código inline */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
